body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
h1,p{
    color: rgb(52, 58, 61);
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 500;
    font-size: 57px;
    line-height: 0.95;
}
p{
    font-size: 22px;
    line-height: 1.55;
    font-weight: 500;
}


.container{
    display: flex;
    flex-direction: column;
    margin:0 15% 0 15%;
}

.navbar{
    
    height: 100px;
    display:flex;
    flex-direction: row;
    padding: 0 60px 0 60px;
    background-color: rgb(10, 29, 65);
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.navbar .sign{
    width: 150px;
    display: flex;
    justify-content: space-between;

}
.navbar .sign a{
    color: cornsilk;

    text-decoration: none
}

