.backdropPage {
  height: 90vh;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}
.backdropPage-sidebar {
  padding: 2vh 0;
  overflow-y: scroll;
  background-color: cadetblue;
}
.backdropPage-sidebar-cardsList {
  height: 100%;
  display: grid;
  grid-gap: 2vh;
  grid-template-rows: repeat(50, 15vh);
}

.backdropPage-card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 60, 96);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  border: none;
}

.backdropPage-content {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
}
.backdropPage-content-backdrop {
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 100%;
}
.backdropPage-content-backdrop img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.card-onBackdrop {
  position: absolute;
  width: 10%;
  height: 10%;
  cursor: pointer;
  background-color: rgb(240, 60, 96);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: none;
}
.card-onBackdrop span {
  font-size: 10px;
  color: white;
}
