.footer {
  background-color: rgb(10, 29, 65);
  display: flex;
  justify-content: center;
}
.footer-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
