.home-header {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-header img {
    width: 50%;
    height: 70%;
}


.home-header .home-header-text {
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.home-header .home-header-text h1,
.home-header .home-header-text p {
    margin-bottom: 40px;
}

.home-header .home-header-text h1 {
}

.home-header .home-header-text h1 span {
    color: rgb(0, 197, 199);
}

.home-header .home-header-text .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home-header .home-header-text a#begin,
.home-header .home-header-text a#more {
    width: 45%;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Gilroy", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-header .home-header-text a#begin {
    color: #ffffff;
    border-width: 1px;
    border-radius: 30px;
    background-color: #70c5c7;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.home-header .home-header-text a#more {
    color: #70c5c7;

    background-color: #fff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

.home-get-start {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 60px;
}

.home-get-start a {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(0, 197, 199);
    text-decoration: none;
    color: #fff;
}

.container .home-description {
    text-align: center;
    padding-top: 80px;
}

.home-description > h2 {
    text-align: center;
    width: 60%;
    margin: auto;
}

.home-description .home-description-block {
    margin: 80px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.home-description-block-img {
    width: 50%;
}

.home-description-block-text {
    text-align: start;
    width: 40%;
}

.home-description-block-text h2 {
    margin-bottom: 30px;
}

.home-description-block-img img {
    width: 100%;
}

@media (max-width: 1000px) {
    .home-header {
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .home-header img {
        width: 90%;
        height: 70%;
        margin-bottom: 40px;
    }

    .home-header .home-header-text {
        width: 90%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }

    .home-header .home-header-text p {
        font-size: 19px;
        margin-bottom: 40px;
    }

    .home-description-block {
        flex-direction: column;
    }
    .home-description-block:nth-child(3){
        flex-direction: column-reverse;
    }

    .home-description-block-text {
        text-align: center;
        width: 90%;
        margin-bottom: 20px;
    }

    .home-description-block-img {
        width: 90%;
    }
}
@media (max-width: 500px) {

    .get-start-button{
        font-size: 6vw;
    }
}