html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    padding: 0;
    margin: 0;

    font-family: "Zen Kaku Gothic Antique", sans-serif;
}

h1,
h2,
h3,
p,
a {
    color: rgb(52, 58, 61);
    text-decoration: none;
    font-size: 1.8vmin;

    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6vmin;
    font-weight: 500;
    line-height: 1;
}

h2 {
    font-size: 3vmin;
    font-weight: 600;
    line-height: 1;
}

p {
    font-size: 2.5vmin;
    line-height: 1.55;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 15% 0 15%;
}
@media (max-width: 1000px){
    .container {
        display: flex;
        flex-direction: column;
        margin: 0 5% 0 5%;
    }
}
.button-long {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 100%;
    color: #fff;
    background: rgb(0, 197, 199, 0.75);
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.button-long:hover {
    background: rgb(0, 197, 199);
}

.button-short {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 99px;
    color: rgb(0, 197, 199);
    background-color: initial;
    border: 2px solid rgb(0, 197, 199);
    border-radius: 22px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    box-sizing: border-box;
    height: 44px;
}

.input-box {
    height: 45px;
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 12px;
    padding-right: 14px;
}

.input-box:hover {
    border: 1px solid rgba(31, 32, 65, 0.75);
}

.email-support {
    position: relative;
}

.email-support-text {
    height: 44px;
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 12px;
    padding-right: 14px;
}

.email-support-button {
    padding-top: 8px;
}
