.login-container h1 {
    margin-bottom: 10px;
    text-align: center;
}

.login-footer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
}

.login-page {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/imgs/loginpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.login-block {
    width: 400px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0 0 25px rgb(0 0 0 / 20%);
    border-radius: 4px;
}

.login-container {
    position: relative;
    padding: 40px 30px;
}

.textField {
    margin-bottom: 10px;
}

.login-footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 700px) {
    .login-block {
        width: 70%;
    }

}

@media (max-width: 500px) {
    .login-block {
        width: 90%;
    }

    .login-container {
        padding: 20px 15px;
    }

}