.main-header {
  height: 660px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-header .main-header-text {
  width: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.main-header .main-header-text h1,
.main-header .main-header-text p {
  margin-bottom: 40px;
}

.main-header .main-header-text h1 span {
  color: rgb(0, 197, 199);
}

.main-header .main-header-text .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-header .main-header-text button#begin,
.main-header .main-header-text button#more {
  width: 45%;
  height: 50px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Gilroy", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
}

.main-header .main-header-text button#begin {
  color: #ffffff;
  border-width: 1px;
  border-radius: 30px;
  background-color: #70c5c7;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.main-header .main-header-text button#more {
  color: #70c5c7;
  background-color: #fff;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-slider {
  margin-bottom: 40px;
}

.ip-slideshow-wrapper,
.ip-slideshow {
  position: relative;

  width: 100%;
  height: 500px;
  overflow: hidden;
}

.ip-slideshow {
  background-position: center;
  background-size: contain;
}

.ip-nav-left,
.ip-nav-right {
  width: 80px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  z-index: 100;
  position: absolute;
  border: 6px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.ip-nav-left {
  left: 100px;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}

.ip-nav-right {
  right: 100px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}

.ip-nav-left:hover,
.ip-nav-right:hover {
  border: 6px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.ip-nav-left:hover.ip-nav-left:after,
.ip-nav-right:hover.ip-nav-right:after {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.ip-nav-left:after,
.ip-nav-right:after {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 70px;

  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.ip-nav-left:after {
  content: "<";
}

.ip-nav-right:after {
  content: ">";
}

.ip-nav-show {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}

.main-get-start {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.main-get-start a {
  display: flex;

  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(0, 197, 199);
  text-decoration: none;
  color: #fff;
}

.main-footer {
  width: 100%;
  height: 500px;
  color: white;
  background-color: rgb(10, 29, 65);
}

.container .description {
  text-align: center;
}
.description .description-block {
  margin: 80px 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.description-block-img {
  width: 50%;
}

.description-block-text {
  text-align: start;
  width: 40%;
}

.description-block-img img {
  width: 100%;
}
