.logo {
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background-image: url(../imgs/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1100;
  height: 50px;
  background-color: rgb(10, 29, 65);
}

.navbar-content {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.navbar-content .sign-user {
  position: relative;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-content .sign-user .sign-user-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-content .sign-user .sign-user-img img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-content .sign-user .sign-user-img img:hover {
  border: 2px solid #fff;
}

.navbar-content .sign-user a {
  font-size: 16px;

  color: rgba(255, 255, 255, 0.65);
  padding: 10px 20px 10px 20px;
  border: 2px solid rgba(255, 255, 255, 0.65);
  border-radius: 10px;
}

.navbar-content .sign-user a:hover {
  color: rgba(255, 255, 255, 1);
  border: 2px solid #fff;
}

.navbar-content .sign-user button {
  font-size: 16px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.65);
  padding: 10px 20px 10px 20px;
  background-color: rgb(255, 0, 0, 0.65);
  border: none;
  border-radius: 10px;
}

.navbar-content .sign-user button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(255, 0, 0, 1);
}

.navbar-content .sign-user .my-profile,
.navbar-content .sign-user .sign-out {
  display: none;
}

.navbar-content .active {
  width: 300px;
  justify-content: space-between;
}

.sign-buttons {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content .sign-buttons a {
  color: rgb(255, 255, 255);
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
}

.navbar-content .sign-buttons .sign-up {
  color: #fff;
  background-color: rgb(0, 197, 199);
  border-radius: 10px;
}
.navbar-content .sign-buttons .sign-in {
  border: 1px solid #fff;
  border-radius: 5px;
}
