.setofcards {
  height: 90vh;

  display: grid;
  grid-template-columns: 0.5fr 2fr;
}
.setofcards-sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: cadetblue;
}

.setofcards-sidebar-input {
  display: none;
}

.setofcards-sidebar-input-termin {
  margin-bottom: 10px;
}

.setofcards-content {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  overflow-y: scroll;
}

.setofcards-header {
  width: 100%;
}

.setofcards-table {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(100, 10vw);
  grid-gap: 2vw;
}

.setofcards-table .setofcards-table-card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 60, 96);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: none;
}

.setofcards-table .setofcards-table-card:hover {
  transform: translateY(-3px);
  transition: 0.1s all;
  box-shadow: 0 0 25px rgb(61, 4, 4);
}

.setofcards-table-card-definition,
.setofcards-sidebar-comments {
  display: none;
}
.setofcards-search {
  display: flex;
}

.setofcards-sidebar-comments-content {
  overflow-y: scroll;
  background-color: dimgray;
  height: 555px;
}

.setofcards-sidebar-comments-input {
  display: flex;
}

.setofcards-sidebar-comment {
  padding: 10px 5px;
}
.setofcards-sidebar-comment-text {
  word-wrap: break-word;
}
.setofcards-sidebar button {
  margin-top: 20px;
}

button.comment-button {
  margin-top: 0;
  width: 20%;
}
