
.setofcards {
    position: relative;
}

.setofcards-sidebar {
    background-color: white;
    height: 90vh;
    width: 30%;
    margin-left: -30%;
    position: absolute;
    padding: 0 20px;
    border-right: 1px solid rgb(0, 0, 0, 0.4);
    z-index: 10;
    transition: 0.4s;
}

.setofcards-sidebar-content {
    position: relative;
    padding-top: 20px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;

}

.setofcards-sidebar-open {
    position: absolute;
    top: 10px;
    right: -18px;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 7px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.setofcards-sidebar-input {
    display: none;
}

.setofcards-sidebar-input-termin {
    margin-bottom: 10px;
}

.setofcards-sidebar-buttons-start {
    text-align: center;
}

.setofcards-content {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    height: calc(90vh - 80px);
}

.setofcards-header {
    width: 100%;
}

.setofcards-table {
    margin-top: 40px;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    overflow-y: scroll;
}

.setofcards-table .setofcards-table-card {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #fbec5d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    border: none;
}

.setofcards-table .setofcards-table-card:hover {
    transform: translateY(-3px);
    transition: 0.1s all;
    box-shadow: 0 0 5px rgb(139, 119, 0);
}

.setofcards-table-card-definition,
.setofcards-sidebar-comments {
    display: none;
}

.setofcards-search {
    display: flex;
}

.setofcards-sidebar-comments-content {
    overflow-y: scroll;
    background-color: dimgray;
    height: 70vh;
}

.setofcards-sidebar-comments-input {
    display: flex;
}

.setofcards-sidebar-comment {
    padding: 10px 5px;
}

.setofcards-sidebar-comment-text {
    word-wrap: break-word;
}

.setofcards-sidebar .button-long {
    margin-top: 20px;
}

.button-long.comment-button {
    margin-top: 0;
    width: 20%;
}

.search-card-button, .sort-byAlphabet-button {
    margin: 0 5px;
}

.setofcards-search-buttons {
    display: flex;
}

@media (max-width: 800px) {
    .setofcards-content {
        padding: 20px 40px 20px 60px;
        height: calc(90vh - 40px);

    }

    .setofcards-table {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .setofcards-sidebar {
        margin-left: -30%;
    }

    .setofcards-content {
        padding: 10px 20px 10px 60px;
        height: calc(90vh - 20px);

    }

    .setofcards-search {
        display: flex;
        flex-direction: column;
    }

    .setofcards-search-buttons {
        margin-top: 5px;
    }

    .setofcards-table {
        grid-template-columns: 1fr 1fr;
    }

    .setofcards-table .setofcards-table-card {
        font-size: 36px;
    }
}

@media (max-width: 450px) {
    .setofcards-table {
        grid-template-columns: 1fr;
    }

    .setofcards-table .setofcards-table-card {
        font-size: 32px;
    }
}